#include <iostream>
#include <string>
#include <ctime>
#include <cstdlib>
#include "data_structures/Lista.h"
#include "core/Gestion.h"

using namespace std;

bool modoAleatorio = false;
string modoRepeticion = "Desactivado";
bool reproduciendo = false;
int menuActual = 0; 

int main() {
    srand(time(0));
    Lista registroTotal;
    Lista colaReproduccion;

    cargarDatos(registroTotal);
    cargarDatos(colaReproduccion);
    cargarStatus(modoAleatorio, modoRepeticion);

    if (modoAleatorio) mezclarListaManual(colaReproduccion);

    Nodo* actual = colaReproduccion.primero;
    string entrada;

    while (true) {
        if (menuActual == 0) {
            cout << "\n" << (reproduciendo ? "Reproduciendo" : "En pausa");
            if (modoAleatorio) cout << " (S)";
            if (modoRepeticion == "R1") cout << "-R1";
            if (modoRepeticion == "RA") cout << "-RA";
            cout << ": " << (actual ? actual->dato.nombre : "Vacia") << endl;
            
            if (actual) {
                cout << "Artista: " << actual->dato.artista << endl;
                cout << "Album: " << actual->dato.album << " [" << actual->dato.anio << "]" << endl;
            }
            cout << "\nOpciones:\nW - Reproducir/Pausa \nQ - Anterior \nE - Siguiente\nS - Aleatorio \nR - Repeticion \nA - Ver Cola \nL - Listado \nX - Salir" << endl;
        } 
        else if (menuActual == 1) {
            cout << "\nActual: " << (actual ? actual->dato.nombre : "Vacia") << endl;
            cout << "\nLista Actual" << endl;
            Nodo* temp = colaReproduccion.primero;
            int i = 1;
            if (!temp) cout << "Vacia" << endl;
            while (temp) {
                cout << i << ". " << temp->dato.nombre << " - " << temp->dato.artista << endl;
                temp = temp->siguiente; i++;
            }
            cout << "\nS<numero> Saltar a cancion  \nV - Volver" << endl;
        }
        else if (menuActual == 2) {
            cout << "\nCanciones Registradas" << endl;
            Nodo* temp = registroTotal.primero;
            int i = 1;
            while (temp) {
                cout << i << ". " << temp->dato.nombre << " - " << temp->dato.artista << endl;
                temp = temp->siguiente; i++;
            }
            cout << "\nR<numero> - Reproducir \nA<numero> - Agregar a cola \nN - Nuevo \nD<numero> - Borrar \nV - Volver" << endl;
        }

        cout << "\nIngrese Opcion: ";
        cin >> entrada;
        char comando = toupper(entrada[0]);

        if (comando == 'X') {
            guardarStatus(actual, colaReproduccion, modoAleatorio, modoRepeticion, reproduciendo);
            break;
        }

        if (menuActual == 0) {
            if (comando == 'W') {
                reproduciendo = !reproduciendo;
            }
            else if (comando == 'Q' && actual && actual->anterior) {
                actual = actual->anterior;
            }
            else if (comando == 'E') {
                if (actual && actual->siguiente) {
                    actual = actual->siguiente;
                } else {
                    if (modoRepeticion == "RA") {
                        if (modoAleatorio) mezclarListaManual(colaReproduccion);
                        actual = colaReproduccion.primero;
                    } else {
                        rellenarColaAutomatico(registroTotal, colaReproduccion);
                        actual = colaReproduccion.primero;
                    }
                }
            }
            else if (comando == 'S') {
                modoAleatorio = !modoAleatorio;
                if (modoAleatorio) mezclarListaManual(colaReproduccion);
            }
            else if (comando == 'R') {
                if (modoRepeticion == "Desactivado") modoRepeticion = "R1";
                else if (modoRepeticion == "R1") modoRepeticion = "RA";
                else modoRepeticion = "Desactivado";
            }
            else if (comando == 'A') menuActual = 1;
            else if (comando == 'L') menuActual = 2;
        }
        else if (comando == 'V') {
            menuActual = 0;
        }
        else if (entrada.length() > 1) {
            int num = stoi(entrada.substr(1));
            if (comando == 'S' && menuActual == 1) {
                Nodo* t = colaReproduccion.primero;
                for (int i = 1; i < num && t; i++) t = t->siguiente;
                if (t) actual = t;
                menuActual = 0;
            }
            else if (menuActual == 2) {
                if (comando == 'R') {
                    Nodo* t = registroTotal.primero;
                    for (int j = 1; j < num && t; j++) t = t->siguiente;
                    if (t) {
                        actual = t;
                        colaReproduccion.vaciar();
                        rellenarColaAutomatico(registroTotal, colaReproduccion);
                        menuActual = 0;
                    }
                }
                else if (comando == 'A') {
                    Nodo* t = registroTotal.primero;
                    for (int j = 1; j < num && t; j++) t = t->siguiente;
                    if (t) colaReproduccion.agregarAlFinal(t->dato);
                }
                else if (comando == 'D') {
                    registroTotal.eliminarPosicion(num);
                }
            }
        }
        guardarStatus(actual, colaReproduccion, modoAleatorio, modoRepeticion, reproduciendo);
    }
    return 0;
}